*.class

# files from intellij to ignore
./idea/
br.ufs.dcomp.pascalcompiler.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Programs for test #
/pascalprograms/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/libraries/de_jflex_jflex_1_6_1.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/uiDesigner.xml
src/LexicalAnalyzer/LexicalAnalyzer.java~
out/production/tinypascalcompiler/LexicalAnalyzer/pascal.lex

tinypascalcompiler_Thu_May_04_01-59-54_BRT_2017\.xml

tinypascalcompiler_Thu_May_04_01-59-54_BRT_2017\.properties

module_tinypascalcompiler_Thu_May_04_01-59-54_BRT_2017\.xml
